
.menuBar{
  padding: 0 20px;
  border-bottom: solid 1px #e8e8e8;
  overflow: hidden;
  box-shadow: 0 0 30px #f3f1f1; 
}

.logo{
  width: 150px;
  float: left;
}
.logo a{
  display: inline-block;
  font-size: 20px;
  padding: 19px 20px;
  text-transform: capitalize;
}
.menuCon{
  width: calc(100% - 150px);
  float: left;
}
.menuCon .ant-menu-item{
  padding: 0px 5px;
}
.menuCon .ant-menu-submenu-title{
  padding: 10px 20px;
}
.menuCon .ant-menu-item a, .menuCon .ant-menu-submenu-title span, .menuCon .ant-menu-submenu-title a{
  margin-top: 5px;
  font-weight: 600;
  padding: 10px 15px;
}

.menuCon .ant-menu-horizontal{
  border-bottom: none;
}
.menuCon .leftMenu{
  float: left;
}
.menuCon .rightMenu{
  float: right;
}
.ant-menu-item-group-title{
  font-weight: 700;
}
.barsMenu{
  float: right;
  height: 32px !important;
  padding: 6px !important;
  margin-top: 25px;
  display: none !important;
  background: none;
  span{
    margin-bottom: 5px;
  }
}
.barsBtn{
  display: block;
  width: 20px;
  height: 2px;
  background: #1890ff;
  position: relative;
}
.barsBtn:after,.barsBtn:before{
  content: attr(x);
  width: 20px;
  position: absolute;
  top: -6px;
  left: 0;
  height: 2px;
  background: #1890ff;
}
.barsBtn:after{
  top: auto;
  bottom: -6px;
}
.ant-drawer-body{
  padding: 0;
}
.ant-drawer-body .ant-menu-horizontal > .ant-menu-item, .ant-drawer-body .ant-menu-horizontal > .ant-menu-submenu{
  display: inline-block;
  width: 100%;
}
.ant-drawer-body .ant-menu-horizontal{
  border-bottom: none;
}
.ant-drawer-body .ant-menu-horizontal > .ant-menu-item:hover{
  border-bottom-color: transparent;
}

@media(max-width: 600px){
  .barsMenu{
    display: inline-block !important;
  }
  .leftMenu,.rightMenu{
    display: none;
  }
  .logo a{
    margin-left: -20px;
  }
  .menuCon .ant-menu-item, .menuCon .ant-menu-submenu-title{
    padding: 1px 20px;
  }
  .logo a{
    padding: 10px 20px;
  }
}


// ############################
.nav-bar{
  height: 5rem;
  background-color: #f8f8f5;
  border-bottom: 1px solid #e8e8e8;
  overflow: hidden;
}

.nav-content{
  max-width: 1700px;
  margin: 0 auto;
  height: 5rem;
  display: flex;
}

.nav-logo{
  font-size: 2rem;
  font-family: 'Josefin Sans', sans-serif;
  margin-right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-menu{
  display: flex;
  margin-left: 3rem;
  padding: 0.4rem;
}

.nav-item{
  display: flex;
  font-size: 1rem;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  border-bottom: 1.5px solid transparent;
  transition: border-bottom 200ms;

  &:hover{
    border-bottom: 1.5px solid rgb(41, 40, 40);
    color: #1890ff;
    cursor: pointer;
  }
}

.side-nav-btn{
  display: flex;
  font-size: 1.5rem;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  &:hover{
    cursor: pointer;
  }
}


.right-menu{
  display: flex;
  margin-left: auto;
  padding: 0.4rem;
  margin-right: 2rem;
}

/////////////side

.navbar-side{
  position: fixed;
  // right: 0;
  background-color: blanchedalmond;
  transition: width 200ms ease;
  z-index: 5;
}

.nav-content-side{
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  width: 14rem;
  height: 100vh;
  margin-top: 5rem;
}

.nav-item-side{
  width: 100%;
  display: flex;
  align-items: center;
  height: 3rem;
  padding-left: 2rem;
  font-size: 1rem;
  font-weight: 500;
  &:hover{
    background: rgb(190, 124, 25);
    transition: background 50ms;
  }
}