

.login-form {
    max-width: 450px;
    margin: 10% auto;
    padding: 2rem;
    border: 1px solid rgb(201, 201, 201);
    border-radius: 4px;
    background-color: rgb(245, 245, 245);
  }
  .login-form-forgot {
    float: right;
  }
  .ant-col-rtl .login-form-forgot {
    float: left;
  }
  .login-form-button {
    width: 100%;
  }

  @media(max-width: 700px){
    .login-form {
        max-width: 300px;
        margin: 30% auto;
      }
  }

.login-input{
  svg{
    vertical-align: 0;
  }
}